<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather_icon.png">
        <title>
            About
        </title>
    </head>
    <body>
        <div src="main-content">{{>header}}</div>
        <img src="./img/meme.jpg" class=".potrait">
        {{>footer}}
    </body>
</html>