<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather_icon.png">
        <title>
            About
        </title>
    </head>
    <body>
        <div src="main-content">{{>header}}</div>
        <p> This Application is created by Harsh Jaluka, Just for learning purpose, Platforms used: NodeJS and NPM modules.</p>
        <p> Uses API's Mapbox and Weatherstack to fetch data using user provided Address and displays the temperature and Location details</p>
        <br>
        
        <img src="./img/Me.jpg" class=".potrait">
        {{>footer}}
    </body>
</html>